ANTHROPIC_API_KEY=sk-ant-...
OPENAI_BASE_URL=
OPENAI_API_KEY=sk-...
OPENAI_MODEL=
GOOGLE_API_KEY=AIza...

LANGSMITH_TRACING=false
LANGSMITH_API_KEY=ls__...
LANGSMITH_PROJECT=langchain-study

LANGCHAIN_VERBOSE=true
